<div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
    <h1>Have A Question?</h1>
    <h2>Please leave a message below!</h2>
      <form id = "ContactForm" class="wpcf7-form">
          <p>
             <span class="wpcf7-form-control-wrap Email">
               <input type="text" name="email" ng-model="email" size="40" ng-click="clearEmailText()" class="emailinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder={{email}}>
            </span>
            <span class="wpcf7-form-control-wrap Phone">
              <input type="text" name="phone" ng-model="phone"  size="40" ng-click="clearPhoneText()" class="phoneinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder={{phone}}>
            </span>
            <span class="wpcf7-form-control-wrap Subject">
                <input type="text" name="subject" ng-model="subject"  size="40" ng-click="clearSubjectText()" class="subjectinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder={{subject}}>
              </span>
            <span class="wpcf7-form-control-wrap Message">
              <textarea name="message" ng-model="message" cols="40" rows="10" ng-click="clearMessageText()" class="wpcf7-form-control wpcf7-textarea" aria-required="true" aria-invalid="false" placeholder={{message}}></textarea>
            </span>
            <input type="submit" value="Send" ng-click="createContactDetails()" class="wpcf7-form-control wpcf7-submit btn">
        </p>
    </form>
  </div>

</div>